@tailwind base;
@tailwind components;
@tailwind utilities;

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.no-select {
  -ms-user-select: none; /* 禁用文本选中 */
  -webkit-user-select: none; /* 兼容 WebKit 浏览器 */
  -moz-user-select: none; /* 兼容 Firefox */
  user-select: none; /* 兼容 IE/Edge */
}


.--adm-center-popup-background-color{
  background-color: rgba(0, 0, 0, 0.807);
}